.terms-of-use{
    width: 1200;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #ccc;
    color: black;
    font-size: 12px;
    line-height: 1.5;
    text-align: justify;
}